[Unit]
Description=The Scheduler Service for CTMO
After=network.target

[Service]
Type=simple
# User=scheduleruser
# WorkingDirectory=/home/nanodano
ExecStart=/path/to/executable/epimetheus
Restart=on-failure

# [Install]
# WantedBy=otherctmoservice
