# This is a template for the systemd .service file.
# Comments will be stripped off when installed.
[Unit]
Description=The Scheduler Service for CTMO
After=network.target

[Service]
Type=simple
User=root
# WorkingDirectory=/home/myuser
ExecStart=/path/to/scheduler/script
Restart=on-failure

# [Install]
# WantedBy=otherctmoservice
